__pycache__/
*.pyc
*.egg-info/
build/
dist/
.pytest_cache/
un_api_token.txt
OUTPUT*/
*.pkl

# local venv
.venv/

# model run output
examples/OUTPUT_BASELINE/
examples/OUTPUT_REFORM/

# cached demographic arrays
ogjpn/data/demographic_cache/
